
.app-topbar .app-button.button-search {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACjElEQVR42r3Wz2sTQRjG8e2maW1rTYIoaPEgHqz/gD+KFi8VRb0pVPTi2UPNQRRCEHpQkCKIp0ilQg/BVqQKUi8q1lRzERQ0x3pQVKJIxTaxpql+DzkMD+xkNo1d+NBudt5535md3VnPdmQyGfP/FrSjC+trOhDxmnxo4k70I4lxzOA18riPYRzFFolvSvJBPMU8/los4w3S8JtRRCfGUZJEK3KuKiigV4pwHzl/43gYkLSKMhZRQsVsZ7T9jN1ShFPyCCahHVbwEiM4gyM4gRQe4Tu04DnskCLqFjACTf4Vg4gHxPo4gCfQ2HyY0e/BvIziIzY7LtgIpqC37YLrLIxJ8AK2SbBLIW+ln29ordfBdryXFZ2Eh7CLuBdVo4gyTmuhGjyA30byOexq5B2CKLIyC7fqBZ6V0U8jagkJ299jtHmWVXxJAsZq1xot4DD+GP3NYqOtgJQUkFllAQMoG/3l9WnSXS4p9yy7ys3suAzoOWK2gJMS8AKJBpP7uCj9PagXtBdFI+AH+mvXwhbQjbzslFfqPYYJ5OQ23IEPD2HeA6dkXyihz6WDFJblNTpkPN+BiWHO5E8ZyCvXytfhiwRXkZa2Qf0cRBG6F+yXWGsRhwL292nsRBei8NGKDmzCZePbQL1DPMw9TGJFR1IzgxtI4yqm8Av6LaDnOfSEmYlzWNKZCKJtAtrnEJcirNvqPnwK6tTyyfbM+F2vF9DmOhPmLfmABSzJVlvBIooYRQIeJiyFFlzXhJ73YQjXMYqbSOEYuqXtBtyTxLomtjrv8a7taswiJiy3bxYxr8mHLmYfWcua6JHQ5hcCP2BN3Eb7/8yva2LSSH4XsbVKbm5413AeCePamhYRRYv52z/AKK4/BRObOQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 16px;
}
.button-search.selected {
    background-color: #3366cc;
}

.app-topbar .app-button.button-menu {
	background-image: url('/images/btn-menu-bg.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 22px;
}

.list-cont {
	/*left: 240px;*/
	position: relative;
	transition: 0.5s left;
}

.move-left {
	left: 240px;
}

.menu {
	height: 100%;
	width: 240px;
	position: absolute;
	left: 0;
	top:0;
	overflow-y:auto;
}

.button-menu {
	padding-left: 40px;
}

.form-search {
	position: relative;
	left: 0;
	top: 0;
	color: #444;
	padding-right: 160px;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-search input.app-input{
	border-bottom: none;
}

.menu-item.selected {
	background-color: #ccc;
}